.home {
    border-bottom: 2px solid white;
}

.nav-item-line {
    position: relative;
}

.line {
    width: 0%;
    height: 5%;
    background-color: #Fff;
    position: absolute;
    left: 0;
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}

.nav-item-line:hover .line {
    width: 50%;
}

header {
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}
header div > h3 {
    width: 250px;
    margin: 30px auto;
    border-right: 1px solid gray;
    overflow: hidden;
    white-space: nowrap;
    animation: cont-width 4s steps(19) 2s;
    -webkit-animation: cont-width 6s steps(19) 1s infinite, blink 1s infinite;
}

@keyframes cont-width {
    0%,
    100% {
        width: 0px;
    }
    50% {
        width: 250px;
    }
}

@keyframes blink {
    from {
        border-right-color: gray;
    }
    to {
        border-right-color: transparent;
    }
}

.prog1 {
    width: 85%;
}

.prog4 {
    width: 90%;
}

.per1::after {
    content: "85%";
    position: absolute;
    top: 0%;
    right: 0;
}

.per2::after {
    content: "75%";
    position: absolute;
    top: 0;
    right: 0;
}

.per3::after {
    content: "50%";
    position: absolute;
    top: 0%;
    right: 0;
}

.per4::after {
    content: "90%";
    position: absolute;
    top: 0%;
    right: 0;
}

.skills {
    width: 90%;
    margin-left: 10%;
}

.fs-5 {
    color: #4e4e4e;
}

.third-heading {
    position: relative;
}

.third-heading::after {
    content: "";
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 16%;
    height: 5%;
    background-color: #0078ff;
}

.icon {
    outline: 10px solid#0078ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon-color {
    color: black;
}

.card:hover .icon-color {
    color: #fff;
    background-color: #0078ff;
}

.card:hover .icon {
    outline-color: #0077ff41;
    /* background-color: #0078ff; */
}

.card-body {
    padding-top: 42%;
}

.info-page-header,
.head-form {
    position: relative;
}

.info-page-header::after {
    content: "";
    position: absolute;
    width: 4%;
    height: 15%;
    background-color: #0078ff;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.head-form::after {
    content: "";
    position: absolute;
    width: 17%;
    height: 8%;
    background-color: #0078ff;
    bottom: -25%;
    left: 9%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.our-numbers {
    background-image: url(../images/post-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.layer {
    background-color: #378be4b4;
}

.port-card {
    padding-top: 5%;
}

.testimonial {
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
}

.img-width {
    width: 10%;
}

.blog-card-body {
    position: relative;
}

.blog-card-body::before {
    content: "WEB Design";
    position: absolute;
    width: 30%;
    background-color: #0078ff;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-);
    -moz-transform: translate(-);
    -ms-transform: translate(-);
    -o-transform: translate(-);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
}

.img-icon {
    width: 10%;
}

.contact-us {
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
}

.foot-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #Fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0078ff;
    margin-left: 10px;
}

.hov-color {
    color: black;
}

.foot-icon:hover {
    background-color: #0078ff;
    border: 2px solid #0077ff86;
}

.foot-icon:hover .hov-color {
    color: #fff;
}

.card {
    overflow: hidden;
}

.img-scale {
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

.img-scale:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}